name: linux
on: [ push, pull_request ]
jobs:
  test-linux:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        dc: [ ldc-1.39.0 ]
        arch: [ x86_64 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install X11 on Linux
        if: matrix.os == 'ubuntu-latest'
        # Xorg dev needed on linux
        run: sudo apt install -y xorg-dev
      - uses: actions/checkout@v2
      - name: Install D compiler
        uses: dlang-community/setup-dlang@v1
        with:
          compiler: ${{ matrix.dc }}
      - run: cat dub.sdl
    - name: 'Build'
      run: |
        dub build
    - name: 'Build Demo'
      run: |
        dub build
      working-directory: demo
    - name: 'Package'
      run: |
        dir
        7z a dray_linux_builddir.7z .
    - name: 'Upload Artifacts'
      uses: actions/upload-artifact@v2
      with:
        name: dray-linux-builddir
        path: dray_linux_builddir.7z
