name: windows
on: [ push, pull_request ]
jobs:
  test-windows:
    runs-on: windows-latest
    env:
      RAYLIB_PREBUILD_VERSION: 5.0.0-r1
    steps:
    - uses: actions/checkout@v3
    - uses: dlang-community/setup-dlang@4c99aa991ce7d19dd3064de0a4f2f6b2f152e2d7
    - name: 'Setup Windows Build Environment'
      run: |
        git submodule update --init --recursive
        
        @REM get windows libs with ldc2
        curl -L https://github.com/ldc-developers/ldc/releases/download/v1.39.0/ldc2-1.39.0-windows-x64.7z --output ldc2-1.39.0-windows-x64.7z
        7z x ldc2-1.39.0-windows-x64.7z
        set WINLIB_BASE="ldc2-1.39.0-windows-x64/lib/"
        set WINLIB_MINGW="ldc2-1.39.0-windows-x64/lib/mingw"
        
        @REM get raylib prebuild
        curl -L https://github.com/redthing1/dray/releases/download/v$env:RAYLIB_PREBUILD_VERSION/raylib-dev_win64_msvc16.zip.zip --output raylib-dev_win64_msvc16.zip.zip
        7z x raylib-dev_win64_msvc16.zip.zip
        7z x raylib-dev_win64_msvc16.zip
        copy raylib-dev_win64_msvc16/lib/raylib.lib ./raylib.lib

        @REM get extra winlibs for linking
        curl -L https://github.com/redthing1/dray/releases/download/v4.0.0-r3/winlibs_extra.7z --output winlibs_extra.7z
        7z x winlibs_extra.7z
        curl -L https://github.com/glfw/glfw/releases/download/3.3.7/glfw-3.3.7.bin.WIN64.zip --output glfw-3.3.7.bin.WIN64.zip
        unzip glfw-3.3.7.bin.WIN64.zip
        move glfw-3.3.7.bin.WIN64/lib-vc2022/glfw3_mt.lib ./glfw3_mt.lib

        @REM show files
        dir
    - name: 'Build'
      run: |
        dub build
    - name: 'Build Demo'
      run: |
        dub build
      working-directory: demo
    - name: 'Package'
      run: |
        dir
        7z a dray_win_builddir.7z .
    - name: 'Upload Artifacts'
      uses: actions/upload-artifact@v2
      with:
        name: dray-win-builddir
        path: dray_win_builddir.7z
